# Environment & secrets
.env
.env*
*.env
*.local
secrets.private.yaml

# Dependencies
node_modules/
bun.lockb
package-lock.json

# Build & artifacts
dist/
build/
build/**
**/build/
**/build/**
buildprivatesignal.jsonl
*.jsonl
.cre/
*.wasm
.cre_build_tmp.js
binary.wasm
.next/
**/node_modules/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# Agent & Assistant configs
CLAUDE.md
claude.md
gemini.md
GEMINI.md
.claude/
